*~
lsstsal/lib
lsstsal/scripts/code/include/sal/svcSAL*.h
lsstsal/scripts/code/sql/*.sql
lsstsal/scripts/include/ccpp*.h
lsstsal/scripts/include/sal_*.h
test/*.html
test/idl-templates
test/include
test/camera*/
test/dm*/
test/dome*/
test/hexapod*/
test/m1m3*/
test/m2ms*/
test/mount*/
test/rotator*/
test/scheduler*/
test/tcs*/
