*~
lsstsal/lib/*types.so
lsstsal/scripts/code/include/sal/svcSAL*.h
lsstsal/scripts/code/sql/*.sql
lsstsal/scripts/include/ccpp*.h
lsstsal/scripts/include/sal_*.h
xml_test/.salwork
xml_test/*.html
xml_test/*.xml
xml_test/idl-templates
xml_test/include
xml_test/archiver*/
xml_test/camera*/
xml_test/catchuparchiver*/
xml_test/dm*/
xml_test/dome*/
xml_test/hexapod*/
xml_test/html
xml_test/m1m3*/
xml_test/m2ms*/
xml_test/mount*/
xml_test/MTMount*/
xml_test/ocs*/
xml_test/processingcluster*/
xml_test/rotator*/
xml_test/scheduler*/
xml_test/sequencer*/
xml_test/sql
xml_test/tcs*/
xml_test/lib
test/*
tests/.tests
tests/pytest_session.txt
__pycache__
# Project
version.py
config_*
