#!/bin/sh
echo "Starting Event generator/logger for SALTopic"
gnome-terminal -e "java -cp $SAL_HOME/lib/saj_SALData_types.jar:./classes:$OSPL_HOME/jar/dcpssaj.jar:saj_SALData_event.jar SALDataEventLogger" &
java -cp $SAL_HOME/lib/saj_SALData_types.jar:./classes:$OSPL_HOME/jar/dcpssaj.jar:saj_SALData_event.jar SALDataEvent

