#!/bin/sh
echo "Starting publisher/subscriber sample for SALTopic"
gnome-terminal -e "java -cp $SAL_HOME/lib/saj_SALData_types.jar:./classes:$OSPL_HOME/jar/dcpssaj.jar:saj_SAL_pub.jar SALTopicDataSubscriber" &
java -cp $SAL_HOME/lib/saj_SALData_types.jar:./classes:$OSPL_HOME/jar/dcpssaj.jar:saj_SAL_pub.jar SALTopicDataPublisher

